# APP MODE can be dev or prod
APP_MODE="dev"
# Dev Debug seeding and migration of db from url.
DEV_DEBUG="true"
APP_TIMEZONE="Asia/Karachi"

# Branding & Info
APP_NAME="Mini Lara"
APP_SHORT_NAME="ML"
APP_FULL_NAME="Mini Lara Business Management"
APP_TAGLINE="Clean & Scalable Management System"
APP_EMAIL="example@minilara.com"
APP_PHONE="+92-300-0000000"

# Database Configuration
DB_SERVER="localhost"
DB_USER="root"
DB_PASS=""
DB_NAME="minilara"

# Routing & Security
CORE_TABLES="users, settings"
SUPER_USERS="admin"
OPEN_ROUTES="/auth/login, /auth/logout, /404, /api/test"

# Encryption Keys (Generate new random keys for production) cmd: php ml gen-keys
ENCRYPTION_KEY="your_random_encryption_key_here"
ENCRYPTION_IV="your_random_iv_here"
SESSION_ENCRYPT_KEY="your_random_session_key_here"

# Developer Settings
DEVELOPER_NAME="Hassan Ali"
DEVELOPER_URL="https://linktr.ee/softdevhassan"
# DEVELOPED_BY_COMPANY="SoftDev Hassan"
# DEVELOPED_BY_COMPANY_URL="https://github.com/softdevhassan"
